.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.buttons button {
    flex: 1;
    margin: 0;
}

.buttons button:not(:last-child) {
    margin-right: 10px;
}

.form {
    margin-bottom: 10px;
}

.form > * {
    margin-top: 10px;
}

select {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

#search-submit {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
}
